body {
    font-family: 'Times New Roman', Times, serif;

}

body {

    display: flex;
    flex-direction: row;



}

#navbar {
    position: fixed;
    float: left;
    width: 305px;
    z-index: 1;
    left: 0;
    top: 0;
    max-height: 90%;
    overflow-y: scroll;
    background-color: burlywood;
    padding: 1em 0;
    border-right: solid;
    border-right-color: chocolate;



}

#navbar h2 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    border-bottom: solid;
    padding-bottom: 0.5em;
}

#navbar a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    width: 100%;
    text-align: center;
    border-bottom: solid;
    padding: 0.5em 0;
    margin: 0.5em 0;

}

#navbar a:hover {
    color: purple;
}

code {

    border: outset;
}


#main-doc {
    margin-left: 300px;    border-left: solid;
    border-left-color: chocolate;
    padding: 0 1em;

}

.main-section header {
    text-decoration: underline;
    font-weight: bold;
    margin-top: 5px;
    font-family: cursive;


}


@media screen and (max-width:540px) {


    #navbar {



        width: 150px;
        background-color: burlywood;
        padding: 0.5em 0;
        border-right: solid;
        border-right-color: chocolate;



    }

    #main-doc {
        margin-left: 140px;

        border-left: solid;
        border-left-color: chocolate;
        padding: 0 1em;





    }


}